@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-electric-blue: #2DE1FC;
  
  /* අලුත් Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts */
  --font-share-tech: var(--font-share-tech);
  --font-base-neue: var(--font-base-neue);
  --font-contrail: var(--font-contrail);
  --font-gudlak: var(--font-gudlak);
}

/* 🟢 LIGHT MODE (Default) */
:root {
  --background: #f0f0f0; /* ලා අළු පාටක් ඇහැට අමාරු නැති වෙන්න */
  --foreground: #050505; /* තද කළු */
}

/* ⚫ DARK MODE */
/* next-themes එකෙන් 'dark' කියන class එක HTML එකට වැටුණම මේක active වෙනවා */
.dark {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Smooth Color Transition Effect */
  transition: background-color 0.5s ease, color 0.5s ease;
}